.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.divider {
  width: 100%;
  border: none;
  border-top: 2px solid var(--text-color);
}

.results {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.results_title {
  font-weight: 500;
  text-align: center;
}
